body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/16px 'Open Sans',sans-serif;
}
body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
    background:rgba(40,57,101,.9);
}
.sub-menu {
    background:rgba(40,57,101,.9);
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 3;
    position: relative;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background:#1161ee;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 3;
}
.sub-menu li:hover {
    background: #1161ee;
}
.sub-menu .sub-menu {
	top: 0;
    left: 100%;
}

.topnav-right {
	float: right;
}

.relatorio {
	position: relative;
	height: 100px;
	width: 100%;
	margin: 0 auto;
	padding:15px 60px 50px 60px;
	background:rgba(40,57,101,.9);
}

.relatorio h2, .relatorio h3 {
	text-align: center;
	font-size:20px;
	color:#fff;
    text-transform:uppercase;
    padding: 50px;
}

.receber td{
    background:#6a6f8c;
    color: #fff; 
    position: center;
	height: 5px;
	width: 10%;
	margin: 0;
	padding:10px 10px 10px 10px;
}

button {
	
	background:rgba(40,57,101,.9);
	color:#fff;
    text-transform:uppercase;
    padding:10px 20px;
    margin:10px 5px;
}