/*LOGIN*/

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://www.sosergipe.com.br/wp-content/uploads/2019/12/planejamento-financeiro.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:15px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}

.login-html .title{
	text-align:center;
	color:#fff;
	font-size:22px;
	padding:0px 70px 50px 70px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

/*MENU*/

body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}
.clearfix:after{
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
    background:rgba(40,57,101,.9);
}
.sub-menu {
    background:rgba(40,57,101,.9);
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 3;
    position: relative;
}
.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu > li:hover {
    background:#1161ee;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 3;
}
.sub-menu li:hover {
    background: #1161ee;
}
.sub-menu .sub-menu {
	top: 0;
    left: 100%;
}

.topnav-right {
	float: right;
}

/*Permissões Usuários*/

.permissoes {
	position: relative;
	height: 600px;
	width: 32.8%;
	margin: 0 auto;
	padding:15px 70px 50px 70px;
	background:rgba(40,57,101,.6);
}

.permissoes label {
    font: 1rem 'Fira Sans', sans-serif;
    color: rgba(40,57,101,.9);
}
.permissoes input {
  margin:0px 0px 0px 2px;
  vertical-align: middle;
  position: relative;
  top: -2px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.permissoes p{
	color: rgba(40,57,101,.9);
}

h1{
	text-align: left;
	font-size:20px;
	color: #fff;
	text-transform:uppercase;
}

.botoes button {
	text-transform:uppercase;
	border:none;
	padding:10px 20px;
	border-radius:30px;
	background:#1161ee;
	color:#fff;
	margin:0px 180px 0px -175px;
	position:relative; 
    top:100%;
    left:100%;
    transform: translate(20%, 70%);
}

/*Cadastro Empresa */

.cadastroempresa {
	position: relative;
	height: 600px;
	width: 32.8%;
	margin: 0 auto;
	padding:15px 70px 50px 60px;
	background:rgba(40,57,101,.6);
	overflow: auto;
}

.cadastroempresa .emp .label {
	text-transform:uppercase;
}

.cadastroempresa .emp{
	margin-bottom:15px;
}
.cadastroempresa .emp .label,
.cadastroempresa .emp .input {
	width:100%;
	color:#fff;
	display:block;
}
.cadastroempresa .emp .input{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
	position: relative;
	top: -1px;
	padding-top: 5px;
  	padding-bottom: 5px;
}
.cadastroempresa .emp .label{
	color:#aaa;
	font-size:12px;
}

.cadastroempresa .botoesemp button {
	background:#1161ee;
	text-transform:uppercase;
	border:none;
	padding:10px 20px;
	border-radius:30px;
	margin:0px 180px 0px -175px;
	position:relative; 
	color: #fff;
    top:100%;
    left:100%;
    transform: translate(20%, 70%);
}

.cadastroempresa .emp option{
	background:rgba(40,57,101,.6);
}

.cadastroempresa h2, .cadastroempresa h3 {
	text-align: left;
	font-size:20px;
	color: #fff;
	text-transform:uppercase;
}

/*plano de contas*/

.check{
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    align-items:center;
    width: 120%;
    
}

.check-point h1 {
    text-align: left;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.check span {
    color: #aaa;
    font-size: 15px;
}

.check li {
    list-style: none;
    height: 30px;
    padding: 32px, 24px 16px;
    display: flex;
    flex-direction: row;
    
}

